.add-pet-form {
  width: 600px !important;
}

.button-link {
  color: #0dcfdc !important;
  font-family: sans-serif;
  text-decoration: none !important;
  margin-left: 0.25rem !important;
}

.form-bg-color {
  background-color: #ededed !important;
} 

.form-input {
  width: 100% !important;
}

.form-styles {
  border-radius: 10px;
  border: 1px solid #C4C4C4 !important;
}

.input-styling {
  border-radius: 20px;
  background-color: #fff !important;
}

.input-container {
  padding: 2rem !important;
}

.input-margin {
  margin-bottom: 0.5rem !important;
}

.navBar-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-logo {
  padding-top: 1rem !important;
}

.non-inline {
  width: 100%;
}

.no-margin {
  margin-top: 0 !important;
}

.main-container {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.navbar-text-size {
  font-size: 1.5rem !important;
  text-transform: none !important;
}

.no-box-shadow {
  box-shadow: none !important
}

.input-white-bg {
  background-color: white !important;
  border-radius: 4px;
}

.css-o5pqw1-MuiPaper-root-MuiCard-root {
  min-width: 400px !important;
  border-radius: 15px !important;
}

.button-color {
  background-color: #0dcfdc !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
}


.yukimito-font, 
.css-1kkpk3h-MuiButtonBase-root-MuiButton-root, 
.css-ag7rrr-MuiTypography-root, 
.css-5lbw0b-MuiTypography-root {
  font-family: 'Lilita One' !important;
}

.white-font-color {
  color: #FFFFFF !important;
}

.yuki-font-color {
  color: #F5CF00 !important;
}

.yuki-font-color2 {
  color: #0dcfdc !important;
}

.yuki-color {
  background-color: #0dcfdc !important;
}