.yuki-color {
  background-color: #0dcfdc !important;
}

.navBar-container, .footer-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.input-white-bg {
  background-color: white !important;
  border-radius: 4px;
  
}